<div class="company-security">
  <h2>Change Password</h2>

  <div class="password-input-group">
    <div class="password-field">
      <label for="old-password">Old Password</label>
      <input type="password" id="old-password" placeholder="........." />
    </div>
  </div>
  <div class="passwords">
    <div class="password-input-group">
      <div class="password-field">
        <label for="new-password">New Password</label>
        <input type="password" id="new-password" placeholder="........." />
      </div>
    </div>

    <div class="password-input-group">
      <div class="password-field">
        <label for="repeat-password">Repeat Password</label>
        <input type="password" id="repeat-password" placeholder="........." />
      </div>
    </div>
  </div>
  <div class="save-btn cancel-btn">
    <button class="btn save">Save changes</button>
    <button class="btn cancel">Cancel</button>
  </div>
</div>
