<ng-container
  *ngIf="companyDetails$ | async as company; else loadingPlaceholder"
>
  <ng-container *ngIf="!showEditor; else editorTemplate">
    <div class="company-details">
      <div class="sections-container">
        <!-- Company Info Section -->
        <div class="company-info">
          <div class="section-header">
            <div class="header-content">
              <h2>Company Profile</h2>
            </div>
            <button mat-icon-button class="edit-icon" (click)="onEdit()">
              <mat-icon>edit</mat-icon>
            </button>
          </div>

          <div class="info-section">
            <h3>Contact Information</h3>
            <p class="info-value">
              {{ company.phoneNumber || "Not available" }}
            </p>
          </div>

          <div class="info-section">
            <h3>Location</h3>
            <p class="info-value">Rwanda, Kigali</p>
          </div>

          <div class="info-section">
            <h3>Timezone</h3>
            <p class="info-value">GMT+2</p>
          </div>

          <div class="info-section" *ngIf="company.websiteUrl">
            <h3>Company Website</h3>
            <div class="link-item">
              <a
                [href]="'https://' + company.websiteUrl"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ company.websiteUrl }}
              </a>
            </div>
          </div>
          <div class="info-section" *ngIf="company.logoUrl">
            <h3>Company Logo</h3>
            <div class="logo-container">
              <img
                [src]="getSafeImageUrl(company.logoUrl)"
                [alt]="company.name + ' logo'"
                class="company-logo"
                loading="lazy"
              />
            </div>
          </div>
          <div class="info-section">
            <h3>Registration Date</h3>
            <p class="info-value">
              {{ company.registrationDate }}
            </p>
          </div>
        </div>

        <div class="preferences-info">
          <div class="section-header">
            <div class="header-content">
              <h2>Settings & Preferences</h2>
            </div>
          </div>

          <div class="notification-section">
            <h3>Notifications</h3>
            <p class="section-description">
              Control how you receive notifications
            </p>

            <div class="notification-group">
              <h4>Communication email Notifications</h4>
              <p class="group-description">
                Receive emails about your account activities
              </p>

              <div class="notification-options">
                <p class="label">Notify me about:</p>
                <div class="radio-option">
                  <input
                    type="radio"
                    id="email-all"
                    name="email-notifications"
                    checked
                  />
                  <label for="email-all">All</label>
                </div>
                <div class="radio-option">
                  <input
                    type="radio"
                    id="email-status"
                    name="email-notifications"
                  />
                  <label for="email-status">Application status change</label>
                </div>
                <div class="radio-option">
                  <input
                    type="radio"
                    id="email-messages"
                    name="email-notifications"
                  />
                  <label for="email-messages">All new messages</label>
                </div>
              </div>
            </div>

            <div class="notification-group">
              <h4>Push Notifications</h4>
              <p class="group-description">
                Receive In-app notifications about your account activities
              </p>

              <div class="notification-options">
                <p class="label">Notify me about:</p>
                <div class="radio-option">
                  <input
                    type="radio"
                    id="push-all"
                    name="push-notifications"
                    checked
                  />
                  <label for="push-all">All</label>
                </div>
                <div class="radio-option">
                  <input
                    type="radio"
                    id="push-status"
                    name="push-notifications"
                  />
                  <label for="push-status">Application status change</label>
                </div>
                <div class="radio-option">
                  <input
                    type="radio"
                    id="push-messages"
                    name="push-notifications"
                  />
                  <label for="push-messages">All new messages</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #loadingPlaceholder>
  <div class="loading-container">
    <p>Loading company details...</p>
  </div>
</ng-template>

<ng-template #editorTemplate>
  <app-company-update (closeEditor)="closeEditor()"></app-company-update>
</ng-template>
