<div class="talent-details">
  <div
    class="personal-info"
    *ngIf="personalDetails$ | async as personalDetails; else errorTemplate"
  >
    <div class="section-header">
      <h2>Personal information</h2>
      <span class="edit-icon">
        <img src="assets/icon/pencile.svg" alt="edit" />
      </span>
    </div>

    <div class="info-section">
      <h3>About Me</h3>
      <p>{{ personalDetails.introduction }}</p>
    </div>

    <div class="info-section">
      <h3>PHONE</h3>
      <p>{{ personalDetails.phoneNumber }}</p>
    </div>

    <div class="info-section">
      <h3>LOCATION</h3>
      <p>{{ personalDetails.currentLocation }}</p>
    </div>

    <div class="info-section">
      <h3>SOCIAL MEDIA</h3>
      <div class="link-item" *ngFor="let social of personalDetails.socialMedia">
        <img
          [src]="'assets/icon/social/' + social.name.toLowerCase() + '.png'"
          [alt]="social.name"
        />
        <a [href]="social.url" target="_blank">{{ social.name }}</a>
      </div>
    </div>

    <div class="info-section">
      <h3>PORTFOLIO LINKS</h3>
      <div
        class="link-item"
        *ngFor="let portfolio of personalDetails.portfolios"
      >
        <a [href]="portfolio">
          {{ portfolio }}
        </a>
      </div>
    </div>
  </div>
</div>
<ng-template #errorTemplate>
  <div class="error-message">
    <h2>Error Loading Details</h2>
    <p>
      There was a problem fetching personal details. Please try again later.
    </p>
  </div>
</ng-template>
