<div class="talent-details">
  <div class="profile-left-section">
    <div class="profile-details">
      <h2>Profile picture</h2>
      <p>This is what will be displayed on your profile.</p>
      <img src="assets/icon/profile.svg" alt="" />
      <div class="profile-upload">
        <div class="upload-box">
          <input
            type="file"
            accept=".png, .jpg, .jpeg"
            style="display: none"
            class="resize-input"
          />
          <div class="upload-icon">
            <img src="assets/icon/upload.svg" alt="Upload Logo" />
          </div>
          <div class="upload-text">
            <p><span>Click here or drag</span> your files to upload</p>
            <p class="supported-formats">
              Supported formats: PNG, JPG, JPEG (5mb max)
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="additional-info">
      <div class="display-names">
        <h2>Display Name</h2>
        <p>
          This is what employers will see on your profile and what will appear
          on all your earned certificates.
        </p>
        <div class="name-inputs">
          <div class="input-group">
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" placeholder="Enter First Name" />
          </div>
          <div class="input-group">
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" placeholder="Enter Last Name" />
          </div>
        </div>
      </div>
    </div>
    <div class="display-names">
      <h2>Introduction</h2>
      <p>
        This is your opening introduction to employers. Keep it concise and
        impactful, showcasing your strengths, skills, and experience (in not
        more than 250 words).
      </p>
      <div class="text-group">
        <div class="textarea-container">
          <textarea
            id="introduction"
            placeholder="Driven and results-oriented professional with a passion for innovation. Experienced in project management and problem-solving, I thrive in dynamic environments, delivering high-quality solutions that drive success."
            rows="6"
            maxlength="250"
            [ngModel]="introductionText"
            (ngModelChange)="onTextChange($event)"
          ></textarea>
          <div class="word-count">
            <span id="word-count">{{ wordCount }}</span
            >/250
          </div>
        </div>
      </div>
    </div>
    <div class="display-names">
      <h2>Upload your C.V</h2>
      <p>You can upload up to 1 document.</p>
      <div class="talent-logo">
        <div class="file-preview">
          <div class="file-content">
            <button class="delete-button">
              <img src="assets/icon/remove.svg" alt="Delete" />
            </button>
            <div class="file-icon">
              <img src="assets/images/pdft-sample.png" alt="Uploaded Logo" />
            </div>
            <p class="file-name">Logo Uploaded</p>
          </div>
        </div>

        <div class="upload-box">
          <input
            type="file"
            accept=".png, .jpg, .jpeg"
            style="display: none"
            class="resize-input"
          />
          <div class="upload-icon">
            <img src="assets/icon/upload.svg" alt="Upload Logo" />
          </div>
          <div class="upload-text">
            <p>Click here or drag your logo to upload</p>
            <p class="supported-formats">
              Supported formats: PNG, JPG, JPEG (5mb max)
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="save-btn cancel-btn">
      <button class="btn save">Save changes</button>
      <button class="btn cancel">Cancel</button>
    </div>
  </div>

  <div class="profile-right-section">
    <div class="birth-date-container">
      <h2>Date of Birth</h2>
      <div class="date-input">
        <div class="calendar">
          <app-calendar></app-calendar>
        </div>
      </div>
    </div>

    <div class="birth-date-container">
      <h2>Nationality</h2>
      <p>The country where you claim your citizenship.</p>
      <div class="date-input">
        <div class="dropdown">
          <select class="country-select">
            <option value="us">United States</option>
            <option value="ca">Canada</option>
            <option value="uk">United Kingdom</option>
          </select>
        </div>
      </div>

      <div class="location">
        <h2>Current Location</h2>
        <p>Enter your current city/town.</p>
        <div class="name-inputs">
          <div class="input-group">
            <input
              type="text"
              id="current-location"
              placeholder="Kigali"
              class="current-location-input"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="birth-date-container">
      <h2>Phone Number</h2>
      <p>You can set this as private/public to control who sees it.</p>
      <div class="phone-input-group">
        <div class="country-code">
          <div class="country-codes">
            <app-country-codes />
          </div>
        </div>
        <div class="phone-number">
          <input type="tel" id="phone" class="resize-input" />
        </div>
      </div>
      <div class="checkbox-group">
        <div class="checkbox">
          <input type="checkbox" id="public" class="checkbox-input" />
          <label for="public" class="checkbox-label">
            <div class="checkbox-box"></div>
            <p>Public</p>
          </label>
        </div>

        <div class="checkbox">
          <input type="checkbox" id="private" class="checkbox-input" />
          <label for="private" class="checkbox-label">
            <div class="checkbox-box"></div>
            <p>Private</p>
          </label>
        </div>
      </div>
    </div>

    <div class="social-media-section">
      <h2 class="section-title">Social Media Pages</h2>
      <div class="content-wrapper">
        <div class="icons-input-group">
          <div class="icon-dropdown">
            <div
              class="icon-select"
              (click)="toggleDropdown()"
              [class.active]="isDropdownOpen"
            >
              <img
                *ngIf="selectedIcon"
                [src]="getIconImage(selectedIcon)"
                class="selected-icon"
                alt=""
              />
            </div>

            <div class="dropdown-menu" *ngIf="isDropdownOpen">
              <div
                *ngFor="let icon of icons"
                class="dropdown-item"
                (click)="selectIcon(icon.name)"
              >
                <img
                  [src]="icon.imageUrl"
                  class="option-icon"
                  [alt]="icon.name"
                />
              </div>
            </div>
          </div>

          <div class="url-input">
            <input
              type="url"
              class="social-url-input"
              placeholder="https://pinterest.com/yourlink"
            />
          </div>
        </div>
        <div class="action-buttons">
          <button class="icon-button minus">
            <img src="assets/icon/minus.svg" alt="Remove Website" />
          </button>
          <button class="icon-button plus">
            <img src="assets/icon/plus.svg" alt="Add Website" />
          </button>
        </div>
      </div>
    </div>

    <div class="social-media-section">
      <h2 class="section-title">Portfolio Links</h2>
      <div class="content-wrapper">
        <div class="icons-input-group">
          <div class="url-input">
            <input
              type="url"
              class="social-url-input"
              placeholder="https://pinterest.com/yourlink"
            />
          </div>
        </div>
        <div class="action-buttons">
          <button class="icon-button minus">
            <img src="assets/icon/minus.svg" alt="Remove Website" />
          </button>
          <button class="icon-button plus">
            <img src="assets/icon/plus.svg" alt="Add Website" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
