<div class="login-container">
  <!-- Google Login Button -->
  <button class="google-login">
    <app-google-button
      [buttonText]="'Sign up with Google'"
      (credentialResponse)="handleCredentialResponse($event)"
    ></app-google-button>
  </button>

  <div class="divider">
    <span class="line"></span>
    <span>OR</span>
    <span class="line"></span>
  </div>

  <h2 class="login-heading">Welcome back! Login to your account</h2>

  <!-- Login Form -->
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
    <app-input
      [type]="'email'"
      [label]="'Email Address'"
      [placeholder]="'Enter address here'"
      [id]="'email'"
      [hasError]="isFieldInvalid('email')"
      formControlName="email"
      class="input-field"
    ></app-input>

    <app-input
      [type]="'password'"
      [label]="'Password'"
      [placeholder]="'******'"
      [id]="'password'"
      [hasError]="isFieldInvalid('password')"
      formControlName="password"
      class="input-field"
    ></app-input>

    <app-error-toast
      *ngIf="showError$ | async as error"
      title="Login Error"
      [subText]="error"
      type="error"
    ></app-error-toast>

    <div class="actions">
      <a routerLink="/auth/forgot-password" class="forgot-password">
        Forgot password?
      </a>
    </div>

    <app-button
      text="Login"
      type="submit"
      [isDisabled]="loginForm.invalid || isLoading()"
      [customClasses]="'btn primary'"
      [isActive]="true"
    >
      {{ isLoading() ? "Logging in..." : "Login" }}
    </app-button>
  </form>

  <div class="signup-link">
    Don’t have an account?
    <a routerLink="/auth/register">Sign up instead</a>
  </div>

  <!-- Loader logic -->
  <app-loader *ngIf="isLoading$ | async" [isLoading]="true"></app-loader>
</div>
