<div class="education-container" *ngIf="record">
  <div>
    <app-tab
      *ngIf="isUpdateMode"
      [universityName]="educationForm.value.institution"
      (backToRecords)="navigateBackToList()"
    ></app-tab>

    <div class="form-content">
      <div class="educational-records">
        <h2>Educational Records</h2>
        <p class="description">
          Below, you can manage all educational records you have provided.
        </p>

        <form [formGroup]="educationForm">
          <div class="form-group">
            <app-input
              label="Name of Institution"
              type="text"
              id="institution"
              placeholder="Enter institution name"
              formControlName="name"
            ></app-input>
          </div>

          <div class="form-group">
            <app-input
              label="Address of Institution"
              type="text"
              id="address"
              placeholder="Enter institution address"
              fieldType="textarea"
              formControlName="address"
              [rows]="3"
            ></app-input>
          </div>

          <div class="form-group">
            <app-input
              label="Country of Institution"
              type="select"
              id="country"
              placeholder="Select country"
              fieldType="select"
              formControlName="country"
              [options]="['United States', 'Canada', 'United Kingdom']"
            ></app-input>
          </div>

          <div class="form-group">
            <app-input
              label="Qualification Level"
              type="select"
              id="qualification"
              placeholder="Select qualification"
              fieldType="select"
              formControlName="qualificationLevel"
              [options]="qualificationOptions"
              [hasError]="isFieldInvalid('qualificationLevel')"
            ></app-input>
          </div>

          <div class="form-group">
            <app-input
              label="Name of Program"
              type="text"
              id="programName"
              placeholder="Enter program name"
              formControlName="programName"
              [hasError]="isFieldInvalid('programName')"
            ></app-input>
          </div>

          <div class="form-group">
            <app-input
              label="Program Status"
              type="select"
              id="status"
              placeholder="Select status"
              fieldType="select"
              formControlName="programStatus"
              [options]="statusOptions"
              [disabled]="isUpdateMode"
            ></app-input>
          </div>

          <div class="dates-group">
            <div class="form-group">
              <app-input
                label="Date of Commencement"
                type="date"
                id="commencementDate"
                placeholder="Select start date"
                formControlName="commencementDate"
              ></app-input>
            </div>
            <div class="form-group">
              <app-input
                label="Date Completed"
                type="date"
                id="completionDate"
                placeholder="Select end date"
                formControlName="completionDate"
              ></app-input>
            </div>
          </div>
        </form>
      </div>

      <div class="transcripts">
        <h2>Academic Transcripts</h2>
        <p>You can upload up to 1 document.</p>

        <div
          class="file-preview"
          *ngFor="
            let file of parseTranscriptUrls(
              record?.academicTranscriptUrls || ''
            )
          "
        >
          <div class="file-content">
            <button class="delete-button" (click)="onDeleteFile(file)">
              <img src="assets/icon/remove.svg" alt="Delete" />
            </button>
            <div class="file-icon">
              <img [src]="file" alt="Uploaded File" />
            </div>
            <p class="file-name">{{ extractFileName(file) }}</p>
          </div>
        </div>

        <div class="upload-box">
          <input
            type="file"
            accept=".pdf,.png,.jpg,.jpeg,.docx"
            (change)="onFileUpload($event)"
          />
          <div class="upload-icon">
            <img src="assets/icon/upload.svg" alt="Upload" />
          </div>
          <div class="upload-text">
            <p>Click here or drag your files to upload</p>
            <p class="supported-formats">
              Supported formats: PDF, JPEG, JPG, PNG, DOCX (10mb max)
            </p>
          </div>
        </div>
      </div>

      <div class="action-buttons">
        <app-button
          text="Save changes"
          [customClasses]="'btn save'"
          (click)="onSave()"
        >
          Save changes
        </app-button>
        <app-button
          text="Cancel"
          [customClasses]="'btn cancel'"
          (click)="onCancel()"
        >
          Cancel
        </app-button>
      </div>
    </div>
  </div>
</div>
