<div class="approval-content">
  <div class="approval-content__card">
    <div class="approval-content__labels">
      <div class="approval-content__label1">Tech Innovators Inc.</div>
      <div class="approval-content__label2">Registered: 2024-10-01</div>
    </div>
    <div class="approval-content__button" (click)="routeTo('234')">
      View details
    </div>
  </div>

  <div class="approval-content__card">
    <div class="approval-content__labels">
      <div class="approval-content__label1">Tech Innovators Inc.</div>
      <div class="approval-content__label2">Registered: 2024-10-01</div>
    </div>
    <div class="approval-content__button">View details</div>
  </div>

  <div class="approval-content__card">
    <div class="approval-content__labels">
      <div class="approval-content__label1">Tech Innovators Inc.</div>
      <div class="approval-content__label2">Registered: 2024-10-01</div>
    </div>
    <div class="approval-content__button">View details</div>
  </div>
</div>
