<app-auth-layout>
  <form class="register-form">
    <div>
      <div class="btn-google-c">
        <app-google-button
          [buttonText]="'Sign up with Google'"
          (credentialResponse)="handleCredentialResponse($event)"
        ></app-google-button>
      </div>

      <!--   OR -->

      <div class="lines">
        <div class="line"></div>
        <span class="text-or">OR</span>
        <div class="line"></div>
      </div>

      <!--  Buttons -->

      <div class="register-as-btns">
        <app-button
          type="button"
          [customClasses]="'btn secondary'"
          [isActive]="currentForm === 'company'"
          (handleClick)="onRegisterCompany()"
        >
          Register as company
        </app-button>
        <app-button
          type="button"
          [isActive]="currentForm === 'talent'"
          [customClasses]="'btn secondary'"
          (handleClick)="onRegisterTalent()"
        >
          Register as talent
        </app-button>
      </div>

      <!--   Forms-->

      @if (currentForm === "company") {
        <app-company-registration-form></app-company-registration-form>
      } @else if (currentForm === "talent") {
        <app-talent-registration-form></app-talent-registration-form>
      }
      <div class="log-in-alt">
        <h3 class="text">
          Already have an account?
          <a class="link" [routerLink]="['/auth/login']">Login instead</a>
        </h3>

        <h4 class="terms">
          By registering an account, you agree our Terms of Service and Privacy
          Policy.
        </h4>
      </div>
    </div>
  </form>
</app-auth-layout>
