<div class="container">
  <h1 class="heading">Create new password</h1>
  <p class="subheading">
    The new password must be unique compared to the old ones
  </p>

  <!-- Success message -->
  <div *ngIf="showSuccessMessage; else formTemplate" class="success-container">
    <div class="success-message">
      <img
        src="assets/icon/success-icon.svg"
        alt="Success"
        class="message-icon"
      />
      <div class="message-text">
        <strong>Success</strong>
        <p>Password set successfully</p>
      </div>
    </div>

    <button class="btn btn-primary continue-btn" (click)="redirectToLogin()">
      Continue
    </button>
  </div>

  <!-- Form template -->
  <ng-template #formTemplate>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label for="newPassword" class="label">New password</label>
        <input
          id="newPassword"
          type="password"
          formControlName="newPassword"
          class="input"
          placeholder="Enter new password"
          (input)="validatePassword()"
        />
        <!-- Error message for reused password -->
        <div class="error-message" *ngIf="showPasswordError">
          <img
            src="assets/icon/error-icon.svg"
            alt="Error"
            class="message-icon"
          />
          <div class="message-text">
            <strong>Password error</strong>
            <p>You cannot reuse your old password.</p>
          </div>
        </div>

        <!-- Warning message for invalid password -->
        <div class="warning-message" *ngIf="showPasswordWarning">
          <img
            src="assets/icon/warning-icon.svg"
            alt="Warning"
            class="message-icon"
          />
          <div class="message-text">
            <strong>Password requirements</strong>
            <p>
              Passwords must be at least 8 characters with a mix of uppercase,
              lowercase, and special characters.
            </p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword" class="label">Confirm password</label>
        <input
          id="confirmPassword"
          type="password"
          formControlName="confirmPassword"
          class="input"
          placeholder="Confirm new password"
          (input)="validatePassword()"
        />
      </div>

      <button type="submit" class="btn btn-primary">Continue</button>
    </form>
  </ng-template>
</div>
