<div class="container">
  <h1 class="heading">Create new password</h1>
  <p class="subheading">
    The new password must be unique compared to the old ones
  </p>

  <!-- Success message -->
  <div
    *ngIf="successMessage$ | async; else formTemplate"
    class="success-container"
  >
    <div class="success-message">
      <img
        src="assets/icon/success-icon.svg"
        alt="Success"
        class="message-icon"
      />
      <div class="message-text">
        <strong>Success</strong>
        <p>Password set successfully</p>
      </div>
    </div>

    <app-button
      type="button"
      [isDisabled]="false"
      routerLink="/auth/reset-password"
      [customClasses]="'btn primary'"
      [isActive]="true"
    >
      Continue
    </app-button>
  </div>

  <!-- Form template -->
  <ng-template #formTemplate>
    <form [formGroup]="passwordForm" class="form">
      <app-input
        [label]="'New password'"
        [type]="'password'"
        [placeholder]="'Enter new password'"
        [id]="'newPassword'"
        [hasError]="isNewPasswordInvalid()"
        [errorMessage]="
          showPasswordWarning
            ? [
                'Passwords must be at least 8 characters with a mix of uppercase, lowercase, and special characters.',
              ]
            : []
        "
        formControlName="newPassword"
        (input)="validatePassword()"
      ></app-input>

      <app-input
        [label]="'Confirm password'"
        [type]="'passwordConfirm'"
        [placeholder]="'Confirm new password'"
        [id]="'confirmPassword'"
        [hasError]="isConfirmPasswordInvalid()"
        [errorMessage]="isPasswordMismatch() ? ['Passwords do not match.'] : []"
        formControlName="confirmPassword"
        (input)="validatePassword()"
      ></app-input>

      <!-- API Error Message -->
      <div class="error-message" *ngIf="error$ | async as error">
        <img
          src="assets/icon/error-icon.svg"
          alt="Error"
          class="message-icon"
        />
        <div class="message-text">
          <strong>Error</strong>
          <p>{{ error }}</p>
        </div>
      </div>

      <app-button
        [customClasses]="'btn primary'"
        (handleClick)="onSubmit()"
        [isActive]="true"
      >
        Create New Password
      </app-button>
    </form>
  </ng-template>
</div>
