<div class="approve-container">
  <div class="approve-container__content">
    <div class="back" (click)="headBack()">
      <div class="back__icon-wrapper"></div>
      back
    </div>
    <div class="approve-container__content-detail">
      <div class="approve-container__details">
        <div class="approve-container__text-icons">
          <div class="approve-container__title">Tech innovators</div>
          <div class="approve-container__company-detail">
            <div class="register-icon"></div>
            <div class="approve-container__date">Registered on Oct 24,2024</div>
          </div>
          <div class="approve-container__company-detail">
            <div class="web-icon"></div>
            <div class="approve-container__web">www.technovators.org</div>
          </div>
          <div class="approve-container__company-detail">
            <div class="mail-icon"></div>
            <div class="approve-container__mail">technovatorsgmaill.com</div>
          </div>
          <div class="approve-container__company-detail">
            <div class="phone-icon"></div>
            <div class="approve-container__phone">030-484-7386-227323</div>
          </div>
        </div>
      </div>
      <div class="approve-container__company-icon-wrapper">
        <img src="assets/images/company-icon.png" alt="company-icon" />
      </div>
    </div>
    <div class="approve-container__details">
      <div class="approve-container__text-icons">
        <div class="approve-container__title">Tech innovators</div>
      </div>
      <div>
        <img
          class="approve-container__comany-certificate-image"
          src="assets/images/comany-certificate.png"
          alt="comany-certificate"
        />
      </div>
    </div>
    <div class="approve-buttons">
      <div class="approve-buttons__approve">
        <div class="approve-buttons__button1">Approve</div>
      </div>
      <div class="approve-buttons__reject">
        <div class="approve-buttons__button2">Reject</div>
      </div>
    </div>
  </div>
</div>
